/*comentario en css*/
body {
   background-color: rgb(79, 201, 201);
   color: blue;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin: 0;
}

/*encabezado*/
header {
   background-color: blueviolet;
   color: antiquewhite;
   margin-top: 0;
   margin-bottom: 0;
}

header h1 {
   margin-top: 0;
   margin-bottom: 0;
   text-transform: uppercase;
   font-size: 2.5em;
   /*tamaño de fuente*/
}

nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

nav ul li {
   display: inline-block;
   /*pone la lista horizontal*/
   margin: 10px;
   background-color: aqua;
   border: 1px solid #000000;
   padding: 5px;
}

nav ul li a {
   color: beige;
   text-decoration: none;
   /*elimina el subrayyado de la etiqueta anchor (a) */
   text-transform: uppercase;
   font-weight: 400;
   /*peso del contorno de la fuente*/
}

footer nav ul li a {
   font-weight: 400;
}

/*main*/
section {
   background-color: violet;
   border: 2px solid #005512;
   margin: 3px 2px;
   /*top-bottom left-right*/
   margin: 10px 5px 5px 15px;
   /*top - right - bottom - left*/
   text-align: left;
}

section {
   margin left: 10px;

}

.container {
   display: flex;
   /*permite trabajar con las cajas segun su disposicion. 
   pone su contenido uno al lado del otro en forma horizonta*/
}
.imagen{
   margin: 10px;
}

/* pie */
/*forma aninada de escribir css*/
footer {
   nav {
      background-color: pink;

      ul {
         li {
            background-color: transparent;
            border: 0;

            a {
               color: red;
            }
         }

      }
   }
}

.redes {
   width: 30px;
}
.sociales {
   list-style: none;
}
.sociales li {
   display: inline-block;
}